<!--build:js js/foot.min.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/masonry/dist/masonry.pkgd.js"></script>
<script src="js/off-canvas-navbars.js"></script>
<script src="js/masonry.js"></script>
<!-- endbuild -->

</body>

</html>
